{
    "listen": "{{ scorodesk_listen_host }}:{{ scorodesk_listen_port }}",
    "runbook": "",
    "providers": {
        "coty_cheetahmail": {
            "class": "cheetahmail",
            "name": "webagency_api",
            "cleartext": "Pass2017"
        }
    },
    "catalog": {
       "81371fef-fb3e-5463-a406-0a223c3fb3ea": {
            "provider_name": "coty_cheetahmail",
            "list_id": "2103364836"
        }
    }
}
